.bazelignore
.bazelrc
.bazelversion
.editorconfig
.github/**
.gitignore
.jj/**
.npmrc
.prettierrc.js
.vscode/**
.yamllint.yaml
BUILD.bazel
MODULE.bazel
MODULE.bazel.lock
bazel-*
eslint.config.js
package-lock.json
pnpm-lock.yaml
scripts/**
spec/**
src/**
!src/**/*.js
!src/**/*.js.map
!src/**/*.css
third_party/**
!third_party/**/*.js
!third_party/**/*.js.map
tsconfig.json
**/*.ts
**/*__js_binary*/**
**/*__js_binary*
**/*_node_bin/**
**/*_node_bin
**/*.sh
